<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiktok.service_chat.mapper.ChatUserLinkMapper">
    <insert id="save" parameterType="com.tiktok.model.entity.chat.ChatUserLink">
        insert into chat_user_link
        (from_user,to_user) values (#{fromUser},#{toUser})
    </insert>

    <select id="getOneRecord" resultType="java.lang.Long" parameterType="java.lang.String">
        select link_id from chat_user_link where from_user = #{fromUser} and to_user = #{toUser}
    </select>
</mapper>
